.menu {
  list-style: none;
  display: flex;
  justify-content: center;
}

.link {
  padding: 10px 15px;
  text-decoration: none;
  color: indianred;
  font-size: 18px;
}

.link:global(.active) {
  color: indigo;
}
