.list {
  list-style: none;
}

.item {
  padding: 15px 30px 15px 10px;
  display: flex;
  align-items: center;
  gap: 30px;
  background-color: #424769;
  border-radius: 10px;
}

.item:not(:last-child) {
  margin-bottom: 20px;
}

.link {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 25px;
}
.link:hover {
  color: #f6b17a;
}

.movieImg {
  width: 100px;
  border-radius: 20px;
}
